@media (max-width: 1550px){

    header{
        height: 90px;
    }

    #botoes{
        margin-top: 40px;
        height: 50px;
        width: 430px;
        margin: 45px 0px 0px 200px;
    }
    .botao{
        width: 130px;
        height: 45px;    
        font-size: 1.7em;
    }

    .botao::after{
        width: 70px;
        bottom: 5px;
        height: 2.5px;
    }
    
    .botao:hover::after{
        width: 100px;
    }
    
    #logo{
        width: 136px;
        height: 70px;
        background-color: black;
    }
    
    #pesquisa-div{
        display: flex;
        width: 500px;
        height: 35px;
        margin: 0px 30px;
        font-family: Bebas Neue;
    }
    #pesquisa-div input{
        width: 100%;
        border-radius: 10px; 
        font-size: 1em;
        font-family: sans-serif;
        color: rgb(65, 65, 65);
        margin: 0px 10px 0px 0px;
    }
    
    #confirmar{
        font-size: 1.6em;
    }
    
    #catalogo{
        column-gap: 50px;
    }

  
}
@media (max-width: 1350px){

    header{
        height: 75px;
    }

    #botoes{
        height: 45px;
        max-width: 400px;
        min-width: 300px;
        margin: 35px 0px 0px 60px;
    }
    .botao{
        width: 130px;
        height: 45px;    
        font-size: max(1.7em, 1.4vw);
    }
    
    #logo{
        width: 100px;
        height: 50px;
        background-color: black;
    }
    
    #pesquisa-div{
        display: flex;
        width: 500px;
        height: 35px;
        margin: 0px 0px 0px 30px;
        font-family: Bebas Neue;
    }

    #pesquisa-div input{
        width: 100%;
        border-radius: 10px; 
        font-size: 1em;
        font-family: sans-serif;
        color: rgb(65, 65, 65);
        margin: 0px 10px 0px 0px;
    }
    
    #confirmar{
        font-size: 1.5em;
    }

}

@media (max-width: 1040px){


    header{
        height: 70px;
    }

    #botoes{
        height: 40px;
        margin: 30px 0px 0px 30px;
    }
    .botao{
        width: 100px;
        height: 40px;    
        font-size: max(1.4em, 1.4vw);
    }
    
    #logo{
        margin-left: 5%;
        width: 120px;
    }
    
    #pesquisa-div{
        margin: 0px;
        width: 50%;
        height: 30px;
    }

    /* #nome-produto{
        margin-left: 2%;
    } */

    #pesquisa-div input{
        width: 100%;
        border-radius: 10px; 
        font-size: 1em;
        font-family: sans-serif;
        color: rgb(65, 65, 65);
        margin: 0px 10px 0px 0px;
    }
    
    #confirmar{
        display: none;
    }

}

@media (max-width: 768px){

   .img-preco{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 555px;
   }


   hr{
    width: 80%;
   }

   header{
    justify-content: space-between;
   }

  

   #produto_geral{
    width: 100%;
   }

   #preco{
    margin: 10px 100px;
   }

   #imagem-produto{
    width: 300px;
    height: 300px;
   }

    #menu-botoes{
        display: none;
    }

    
    main{
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center';
    }
    
    #catalogo{
        justify-content: space-evenly;
        row-gap: 150px;
        column-gap: 200px;
        margin-top: 70px;
        margin-bottom: 30px;
    }

    #select-categoria{
        width: 90%;
    }
    
    #pesquisa-div{
        width: 50%;
    }

    #logo{
        display: block;
        width: 100px;
        /* margin-left: -15%; */
    }


}

@media (max-width: 425px) {
    header{
        position: relative;
        justify-content: space-around;
        height: 70px;
    }
#produto{
    height: 1300px;
}

    #botoes{
        display: none;
    }

    .img-preco{
        height: 595px;
    }

    #menu-botoes{
        display: flex;
        position: absolute;
        top: 20%;
        right: 10%;
    }

    #pesquisa-div{
        width: 90%;
        position: absolute;
        bottom: 20px;
        display: block;
    }

    #pesquisa-div input{
        height: 35px;
        border-radius: 0%;

    }
    #confirmar{
        display: block;
    }


    #logo{
        position: absolute;
        top: 20%;
        right: 45%;
        display: block;
        background-color: black;
        width: 50px;
        height: 50px;
        background-image: url(/imagens/logo/TechFinder-short.png);
    }

    #nome-produto{
        padding-left: 2%;
    }

}

@media (max-width: 350px){
    header{
        position: relative;
        justify-content: space-around;
        height: 70px;
    }

    #produto{
        height: 1400px;
    }

    #botoes{
        display: none;
    }

    #menu-botoes{
        display: flex;
        position: absolute;
        top: 20%;
        right: 10%;
    }

    #pesquisa-div{
        width: 90%;
        position: absolute;
        bottom: 20px;
        display: block;
    }

    #pesquisa-div input{
        height: 35px;
        border-radius: 0%;

    }
    #confirmar{
        display: block;
    }


    #logo{
        position: absolute;
        top: 20%;
        right: 45%;
        display: block;
        background-color: black;
        width: 50px;
        height: 50px;
        background-image: url(/imagens/logo/TechFinder-short.png);
    }

    .img-preco{
        height: 615px;
    }
    
}

