body{
    padding: 0px;
    margin: 0px;
    background-color: aliceblue;
}

main{
    
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* height: 110vh; */
    align-items: center;
}

hr{
    width: 30%;
    border-color: #ff6600;
    margin: 0px;
    justify-self: center;
}



#produto{
    background-color: white;
    height: 1200px;
    width: 100%;
    max-width: 1200px;
    min-width: 65%;
    font: normal 1.2em sans-serif;
    display: flex;
    position: relative;
    /* border: 1px solid black; */
}

#nome-produto{
    font: bold max(2em, 0.5em) sans-serif;
    font-family: Bebas Neue;    
    text-wrap: wrap;
    width: 95%;
}

#imagem-produto{
    width: 450px;
    height: 450px;
}


#desc{
    width: 100%;
    font: normal max(1.25vw, 1em) sans-serif;
}

#desc p{
    justify-self: right;
    width: 95%;
}

#preco-pix{
    display: flex;
    flex-direction: column;
    font: bold 1.6em Bebas Neue;
    color: #ff6600;
}

#preco-parcela{
    display: flex;
    flex-direction: column;
    font: bold 1.6em Bebas Neue;
    color: #000000;

}

.img-preco{
    /* border: 1px solid black; */
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;

}

#preco{
    margin: 100px;
}

#comprar{
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 1.6em Bebas Neue;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    height: 50px;
    width: 150px;
}
#comprar:hover{
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

#ver_parcelas{
    font-size: 0.8em;
    margin-bottom: 50px;
    cursor: pointer;
}
#ver_parcelas:hover{
    color: #ff6600;
}

#valores_parcela{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -50px;
    width: 245px;
    height: 385px;
    background-color: rgb(243, 255, 247);
    position: absolute;
    font: 1em Bebas Neue;
    border: 1px solid black;
}
p{
    margin: 0px;
}

#botoes_info{
    display: flex;

}

#botao_carrinho{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font: bold 1.6em Bebas Neue;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid black;
    margin-left: 5px;
}
#botao_carrinho:hover{
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

#info-produto h1{
    align-self: center;
    font-family: Bebas Neue;
}

#info-produto{
    display: flex;
    width: 100%;
    flex-direction: column;
}


#menu-botoes{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    row-gap: 10px;
    flex-direction: column;
    display: none;
}

#menu-botoes .linha{
    width: 40px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
}

#botoes-responsivo{
    /* display: block; */
    position: absolute;
    right:  20px;
    top: 80px;
    background-color: black;
    color: white;
    min-width: 150px;
    border-radius: 20px;
    flex-direction: column;
    flex-wrap: wrap;  
    z-index: 2;  
}
.hide{
    display: none;
}

#botoes-responsivo a{
    font: normal max(1vw, 1.1rem) sans-serif;
}

#botoes-responsivo .botao{
    width: 200px;
}